node_modules

# next.js
.next
out
next-env.d.ts

# generated
script/**/*.generated.*
script/**/*.webp
.prettierrc
.tscache
env.d.ts
public/service-worker.js*
public/workbox-*.js*
supabase/config.toml
src/api/database/supabase/type.ts
test/snapshot/snapshot-images/__diff_output__

# production
build
dist
cache

# local env files
.env
.env.production
.env.staging

# vercel
.vercel

# sitemap
public/sitemap*.xml
public/manifest.json
public/site.webmanifest
public/robots.txt
