node_modules
.pnp
.pnp.js

# gatsby
.cache
public

# gitignore scrapped, not this file
gitignore

# testing
__tests__

# production
build

# custom gatsby config
gatsby-config.ts
gatsby-config.js

# misc
.env
.env.test
.env.production
.DS_Store

temp.js
temp.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*
